<div class="hero-cont">
    <!--header container -->
    <h1>User Donated Items</h1>
    <!--header container left item -->
</div>


<section class="items">
    {{#each userItems as |item|}}
  <div class="item-details">
    <h4>Item Name:  {{item.item_name}}</h4>
    <p>Name Of Donator: {{item.first_name}} {{item.last_name}} </p>
    <p>Phone#:  {{item.phone_number}}  </p>
    <p>Pickup Address:  {{item.pickup_address}}  </p>
    <p>Pickup Date:  {{item.pickup_date}}  </p>
    <p>Item Description:  {{item.item_description}}  </p>
  </div>
  {{/each}}
</section>